* {
  margin: 0;
}

textarea:focus {
  outline: none;
}

.print {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 4rem;
  z-index: 999999999999999;
  width: 100vw;
  min-height: 100vh;
}
@media print {
  .print {
    -webkit-print-color-adjusts: exact;
    width: "100%";
    min-height: "100%";
    display: block !important;
  }

  .app {
    display: none;
  }
}
